/* ************************************************************ */
/*                      ページ全体のスタイル                      */
/* ************************************************************ */
html{
  margin: 0;
  padding: 0;
}

:root {
  /* *************** */
  /* タイトル・リンク */
  /* *************** */
  --headder-height      : 15vh;
  --headder-left-width  : 70vw;
  --headder-right-width : calc(100vw- var(--headder-left-width));

  /* ******************** */
  /* 操作・設定・コード画面 */
  /* ******************** */
  --main-height         : calc(100vh - var(--headder-height));

  --main-UI-height      : 5vh;
  --main-UI-marginW     : 2.5vw;
  --main-UI-marginH     : 2.5vh;

  --main-left-width     : 50vw;
  --main-left-contents  : 55%;

  --main-right-width    : calc(100vw - var(--main-left-width));
  --main-right-contents : calc( 50% + var(--main-left-contents) / 2 );

  --option-height       : 40%;
  --code-height         : calc(100% - var(--option-height));
}

body{
  margin: 0;
  /* スクロールバーを非表示にする */
  overflow: hidden; 
}

#root{
  width:  100vw;
  height: 100vh;
}

.App {
  width:  100vw;
  height: 100vh;
  font-family: sans-serif;
  position: relative;
}

#Background{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#Contents {
  position: absolute;
  top: 0;
  left: 0;
}

/* ************************************************************ */
/*                       headerコンテンツ                        */
/* ************************************************************ */
/* headerコンテンツ: Webページのタイトルとハイパーリンク */
header{
  display: block flex;  /* .titleと.hyperlinkの並列 */
  margin: 0;
  width: 100vw;
  height: var(--headder-height);
}

/* ********************** */
/* Webページのタイトル部分 */
/* ********************** */
header>.title{
  width: var(--headder-left-width);
}

/* タイトルの文字列"Shape Maker" */
header>.title>h1{
  width: 100%;
  margin-left: 5vw;
  color: rgb(230, 230, 230);
}

/* *********************** */
/* ハイパーリンクのデザイン */
/* *********************** */
header>.hyperlink{
  width: var(--headder-right-width);

  margin-top: auto;
  margin-bottom: auto;
}

header>.hyperlink>ul{
  list-style:none;
}

/* ハイパーリンクのデザイン */
header>.hyperlink>ul>li>a{
  color: rgb(141, 158, 255);

  /* ハイパーリンクのデフォルトカラーを指定 */
  /* color: #3498db;  */
  text-decoration: none; /* 下線を除去 */
  /* カラーフェードのトランジションを追加 */
  /* transition: color 0.3s;  */
}

header>.hyperlink>ul>li>a:hover{
color: #e74c3c; /* リンクにホバーしたときのカラーを指定 */
}

/* ************************************************************ */
/*                        mainコンテンツ                         */
/* ************************************************************ */
/* mainコンテンツ: 操作画面と設定画面，コード画面 */
main{
  width: 100vw;
  height: var(--main-height);

  /* .Operationと.mainRightContentの並列 */
  display: block flex;
}

/* **************************** */
/* main内にあるボタンに関する設定 */
/* **************************** */
main button,
main input{
  border: solid;
}

main button{
  height: var(--main-UI-height);
  border-radius: 2em;
  background: rgb(30, 30, 30, 0.9);
  color: antiquewhite;
}

main input{
  height: calc(var(--main-UI-height) - 4px);
  border-radius: 1em;
  background: rgb(250, 235, 215, 0.9);
}

/* ********************** */
/*    画面左のコンテンツ    */
/* ********************** */
/* 左のコンテンツ: 操作画面 */
main>.mainLeftContent {
  width: var(--main-left-width);
  height: 100%;
}

/* ************* */
/*    操作画面    */
/* ************* */
main>.mainLeftContent>.Operation{
  width: var(--main-left-contents);
  margin: auto;
}

/* 操作画面のボタン領域 */
main>.mainLeftContent>.Operation>.OperationTopButton, 
main>.mainLeftContent>.Operation>.OperationBottomButton{
  width: 100%;

  /* 操作画面内にある.leftButtonと.rightButtonの並列 */
  display: block flex;
}

/* 操作画面の上側にあるボタン領域 */
main>.mainLeftContent>.Operation>.OperationTopButton{
  margin-bottom: var(--main-UI-marginH);
}

/* 操作画面の下側にあるボタン領域 */
main>.mainLeftContent>.Operation>.OperationBottomButton{
  margin-top: var(--main-UI-marginH);
}

/* 操作画面の全ボタン */
main>.mainLeftContent>.Operation Button{
  width: 40%;
  display: block;

  border-color: rgb(224, 38, 38);
}

main>.mainLeftContent>.Operation Button:hover{
  border-color: antiquewhite;
}

/* 操作画面の左ボタン */
main>.mainLeftContent>.Operation .leftButton{
  margin-right: auto;
}

/* 操作画面の右ボタン */
main>.mainLeftContent>.Operation .rightButton{
  margin-left: auto;
}

/* ********************** */
/*    画面右のコンテンツ    */
/* ********************** */
/* 右のコンテンツ: 設定画面とコード画面 */
main>.mainRightContent{
  width: var(--main-right-width);
  height: 100%;
}

/* ************* */
/*    設定画面    */
/* ************* */
main>.mainRightContent>.Option{
  width: var(--main-right-contents);
}

main>.mainRightContent>.Option>ul{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style:none;
}

main>.mainRightContent>.Option>ul>li{
  width: 100%;
  margin-bottom: var(--main-UI-marginH);
}

main>.mainRightContent>.Option>ul>li>button{
  width: calc(50% - var(--main-UI-marginW)/2 );
  border-color: rgb(175, 156, 255);
}


main>.mainRightContent>.Option>ul>li>button:hover{
  border-color: antiquewhite;
}


main>.mainRightContent>.Option>ul>li>.leftButton{
  margin-right: var(--main-UI-marginW);
}

main>.mainRightContent>.Option>ul>li>.rightButton{
  margin-right: 0;
}

/* ************* */
/*   コード画面   */
/* ************* */
main>.mainRightContent>.Code{
  width: var(--main-right-contents);
  height: var(--code-height);
}

main>.mainRightContent>.Code>.CodeUI{
  width: 100%;
  padding: 0;
  margin-bottom: var(--main-UI-marginH);
}

main>.mainRightContent>.Code>.CodeUI>input{
  width: calc(70% - 1em - 4px);

  padding: 0;
  padding-left: 1em;

  margin-right: var(--main-UI-marginW);

  border-color: rgb(42, 139, 42);
}

main>.mainRightContent>.Code>.CodeUI>button{
  width: calc(30% - var(--main-UI-marginW) - 4px);
  border-color: rgb(42, 139, 42);
}

main>.mainRightContent>.Code>.CodeUI>input:hover,
main>.mainRightContent>.Code>.CodeUI>button:hover{
  border-color: antiquewhite;
}

main>.mainRightContent>.Code .CodeHighlight{
  width: 100%;
  height: 90%;
}

main>.mainRightContent>.Code>.CodeHighlight>.language-javascript{  
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  margin: 0%;
  padding: 10px;
}